*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #6a6a6a;
  width: 100%;
  gap: 15px;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
}

.container{
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}

main a:hover {
  text-decoration: underline;
}

.active{
  color: rgb(20, 20, 193);
  cursor: default;
}

main form {
  margin: 20px 0;
}

main form input{
  width: 200px;
  height: 30px;
  padding: 5px 5px;
  border: 1.5px solid #15009c
}

.googleBtn {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background: #3a1cff;
  border: none;
}

.signin, .signInForm{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signin h1{
  margin-bottom: 50px;
}

.signin span{
  margin-top: 15px;
}

.signInForm{
  gap: 15px;
}

main form button{
  padding: 7px 12px;
  margin-left: 15px;
  background: #4f3cca;
  color: white;
  border: none;
}

